allprojects {
  apply plugin: JavaPlugin
  group = '$root.group'
  version = '$root.version'
  
  configurations {
    provided
  }
}

repositories {
<% for(repo in root.repositories) { %>  mavenRepo urls: '${repo.url}'
<% } %>  mavenLocal()
}
<% for(module in modules) { %>
project(':${module.name}') {
  dependencies {    <% for(dependency in module.dependencies) { %>
    ${dependency}<% } %>
  }
}
<% } %>